<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>New Entry</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <div id="fw_container">
    <%= partial :header %>
    <div id="table">
      <h2>New Entry</h2>
      <form method=POST action="/ftprs/users/new">
        <table border='0' cellpadding='0' cellspacing='0' class='display' id='example'>
          <thead>
            <tr>
              <th width='40%'>Entry Parameter Name</th>
              <th width='60%'>Entry Parameter Value</th>
            </tr>
          </thead>
          <tbody><%= partial :tr,["username", "password", "description", "requestor"] %>
            <tr>
              <td></td><td><input type=submit VALUE="Create New Account" ></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</body>
