<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Changing password for user <%= params[:cn] %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <div id="fw_container">
    <div id="fw_header">
      <ul>
        <li>
          <a href="/ftprs/users/list">List</a>
        </li>
        <li>
          <a href="/ftprs/users/new">New</a>
        </li>
        <li>
          <a class="active" href="/ftprs/users/edit">Edit</a>
        </li>
      </ul>
    </div>
  <div id="table">
  <h2>Changing password for user <%= params[:cn] %></h2>
  <form method=POST action="/ftprs/users/passwd/<%= params[:cn] %>" >
  <table border='0' cellpadding='0' cellspacing='0' class='display' id='example'>
    <tbody>
    <tr>
      <td width="120">New Password:</td><td><input name=password1 size="50"></td>
    </tr>
    <tr>
      <td width="120">Retype Password:</td><td><input name=password2 size="50"></td>
    </tr>
    <tr>
      <td><input type=submit VALUE="Set Password" ></td>
    </tr>
  </tbody>
  </table>
  </form>
  </div>
  </div>
</body>
