<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Change results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <div id="fw_container">
    <div id="fw_header">
      <ul>
        <li>
          <a href="/ftprs/users/list">List</a>
        </li>
        <li>
          <a href="/ftprs/users/new">New</a>
        </li>
        <li>
          <a class="active" href="/ftprs/users/edit">Edit</a>
        </li>
      </ul>
    </div>
  <div id="table">
  <%= @message %>
  </div>
  </div>
</body>
