<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Change results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <div id="fw_container">
    <%= partial :header %>
    <div id="table">
      <% if defined? @result_template[:heading] %>
        <h2><%= @result_template[:heading] %></h2><br /><br />
      <% end %>
      <% if defined? @result_template[:lines] %>
        <% @result_template[:lines].each do |line| %><%= line %><br /><% end %>
      <% end %>
    </div>
  </div>
</body>
